node_modules

.DS_Store
.env
*.log
*.lock
*.tmp
*.temp
*.bak
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
dist/
build/
coverage/
logs/
pids/
*.pid
*.seed
*.pid.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


starter/